@import url('https://fonts.cdnfonts.com/css/glacial-indifference');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #eee;
}

html,
body {
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1, h2 {
  font-family: 'glacial-indifference', sans-serif;
  font-weight: bolder;
}

form.add-note input,
form.add-note textarea {
  width: 100%;
  border: none;
  padding: 4px;
  outline: none;
  font-size: 1.2em;
  font-family: inherit;
  resize: none;
}

form.add-note button {
  position: absolute;
  right: 18px;
  bottom: -18px;
  background: #8F5835;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  outline: none;
}

form.add-note button:hover {
  background: #C2A06E;
}

@media (max-width: 640px) {
  form.add-note button {
    right: 10px; 
    bottom: -10px; 
  }
}